div.slidecontainer {
    background-color: grey;
}

input {
    margin: 40px;
}

input[type=range] {
    width: 100%;
}

label {
    position: relative;
    height: 60px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
}

label>span,
label>slider {
    position: absolute;
}

label>span {
    color: white;
    font-family: sans-serif;
    font-size: 28px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label.switch {
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 28px;
}

select {
    font-size: 28px;
}

p {
    font-size: 28px;
}

button {
    font-size: 28px;
}

input[type=checkbox] {
    width: 28px;
    height: 28px;
}

select {
    margin: 40px;
}