@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgba(100, 100, 255, 0.9);
  transition: 0.4s;
  padding: 3px;
}

@media (prefers-color-scheme: light) {
    a {
      color: rgba(0, 0, 255, 0.4);
    }
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-light-blue);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}

.inputContainer {
    height:100px;
    margin-top:50px;
    margin-bottom:50px;
    font-size:28px;
    border-radius: var(--base-radius);
}

.inputArea {
    text-wrap: nowrap;
    width: 100%;
    height: 60px;
    font-size: 24px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

select {
    font-size: 24px;
}

p {
    font-size: 24px;
}

button {
    font-size: 24px;
}

input[type=checkbox] {
    width: 36px;
    height: 36px;
}

select {
    font-size: 24px;
}


select, input {
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
    font-size: 24px;
    border: 1px solid var(--color-text);
    border-radius: var(--base-radius);
}

label {
    align-items: left;
    text-align: left;
    display: inline;
}

span.title {
    float: left;
}

span.readOut {
    float: right;
}